<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar-comp></app-nav-bar-comp>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="resetLoginModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <app-signin></app-signin>
    </div>
</div>
</div>